<template>
  <div class="d-flex flex-column">
    <b-table
      :current-page="currentPage"
      :fields="fields"
      :items="alerts"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :per-page="perPage"
      bordered
      hover
      small
      striped
    />
    <div class="align-items-start d-flex justify-content-between">
      <div>
        <b-form inline>
          <label class="mr-2">Show</label>
          <b-form-select v-model="perPage" :options="pageOptions" class="mr-2" />
          <label class="mr-1">entries</label>
        </b-form>
        <p class="font-weight-lighter">
          Showing {{ pageStart }} to {{ pageEnd }} of {{ rows }} entries
        </p>
      </div>
      <b-pagination
        v-model="currentPage"
        :per-page="perPage"
        :total-rows="rows"
        align="right"
      ></b-pagination>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    alerts: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      currentPage: 1,
      fields: [
        {
          key: 'mjd',
          label: 'MJD',
          sortable: true,
        },
        {
          key: 'properties.ant_passband',
          label: 'Filter',
          sortable: true,
        },
        {
          key: 'properties.ant_mag',
          label: 'Mag.',
          sortable: true,
          formatter: (value: number, key: any, item: any) => {
            if (value) {
              return value.toFixed(2);
            }
            return value;
          },
        },
        {
          key: 'properties.ant_magerr',
          label: 'Mag. Error',
          sortable: true,
          formatter: (value: number, key: any, item: any) => {
            if (value) {
              return value.toFixed(2);
            }
            return value;
          },
        },
      ],
      pageOptions: [5, 10, 25, 50, 100],
      perPage: 10,
      sortBy: 'mjd',
      sortDesc: true,
    };
  },

  computed: {
    rows(): number {
      return this.alerts.length;
    },
    pageStart(): number {
      return (this.currentPage - 1) * this.perPage + 1;
    },
    pageEnd(): number {
      const pageEnd = this.pageStart + this.perPage - 1;
      return pageEnd > this.rows ? this.rows : pageEnd;
    },
  },
});
</script>
