<template>
  <div class="d-flex flex-column">
    <b-table
      :current-page="currentPage"
      :fields="fields"
      :items="alertsFiltered"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :per-page="perPage"
      ref="table"
      bordered
      hover
      small
      striped
    />
    <div class="align-items-start d-flex justify-content-between">
      <div>
        <b-form inline>
          <label class="mr-2">Show</label>
          <b-form-select v-model="perPage" :options="pageOptions" class="mr-2" />
          <label class="mr-1">entries</label>
        </b-form>
        <p class="font-weight-lighter">
          Showing {{ pageStart }} to {{ pageEnd }} of {{ rows }} entries
        </p>
      </div>
      <b-pagination
        v-model="currentPage"
        :per-page="perPage"
        :total-rows="rows"
        align="right"
      ></b-pagination>
    </div>
  </div>
</template>

<script>
/*
TODO: this currently hard-codes the chart group to "default". I would
like to get the chart group from the view properties, but I don't know how
to do that in Vue.
*/
import Vue from 'vue';
import { mapGetters } from 'vuex';
import * as charts from '@/vis/chart';

// https://stackoverflow.com/a/24004942
function debounce(func, wait, immediate) {
  var timeout;

  return function() {
    var context = this,
      args = arguments;

    var callNow = immediate && !timeout;

    clearTimeout(timeout);

    timeout = setTimeout(function() {
      timeout = null;

      if (!immediate) {
        func.apply(context, args);
      }
    }, wait);

    if (callNow) func.apply(context, args);
  };
}

export default Vue.extend({
  props: {
    locus: Object,
  },

  mounted() {
    let that = this;
    charts.chartGroup('default').predicate('table', null);
    // we debounce the table update at 10Hz to minimize jankiness.
    // A perceptive reader will also note that this is a
    // massive hack. The Vue deities are displeased.
    let debounced = debounce(function() {
	    if (that._computedWatchers['alertsFiltered']) {
		    that._computedWatchers['alertsFiltered'].run();
		    that._computedWatchers['rows'].run();
		    that._computedWatchers['pageStart'].run();
		    that._computedWatchers['pageEnd'].run();
        that.$forceUpdate();
	    }

      that.$refs.table.refresh();
    }, 100, false);
    charts.chartGroup('default').on('table', 'update', debounced);
  },

  data() {
    return {
      currentPage: 1,
      fields: [
        {
          key: 'ant_mjd',
          label: 'MJD',
          sortable: true,
          formatter: (value, key, item) => {
            if (value) {
              return value.toFixed(2); // 10e-2 ~= 15 minute resolution
            } else {
              return value;
            }
          }
        },
        {
          key: 'ant_passband',
          label: 'Filter',
          sortable: true,
        },
        {
          key: 'frontend_mag',
          label: 'Mag.',
          sortable: true,
          formatter: (value, key, item) => {
            if (value) {
              return value.toFixed(2);
            }
            return value;
          },
        },
        {
          key: 'frontend_magerr',
          label: 'Mag. Error',
          sortable: true,
          formatter: (value, key, item) => {
            if (value) {
              return value.toFixed(2);
            }
            return value;
          },
        },
      ],
      pageOptions: [5, 10, 25, 50, 100],
      perPage: 10,
      sortBy: 'mjd',
      sortDesc: true,
    };
  },

  computed: {
    rows() {
      return this.alertsFiltered.length;
    },
    pageStart() {
      return (this.currentPage - 1) * this.perPage + 1;
    },
    pageEnd() {
      const pageEnd = this.pageStart + this.perPage - 1;
      return pageEnd > this.rows ? this.rows : pageEnd;
    },
    alertsFiltered() {
      let group = charts.chartGroup("default");
      let predicate = charts.getSelectionPredicate('default', 'table');
      let result = this.locus.lightcurve.filter((el) => {
        return el.frontend_mag && predicate({
            payload: el,
            type: "mag",
            getMag: function() { return this.payload.frontend_mag; }
        });
      });
      return result;
    }
  },
});
</script>
