<template>
  <b-modal ref="modal" @close="reject">
    <p>{{ message }}</p>
    <p>
      Please enter <code>{{ confirmValue }}</code> below to continue.
    </p>
    <b-form-input v-model="value" />
    <template #modal-footer>
      <b-button @click="reject">Cancel</b-button>
      <b-button :disabled="$v.confirmValue.$invalid" variant="danger" @click="confirm"
        >Confirm</b-button
      >
    </template>
  </b-modal>
</template>

<script lang="ts">
import Vue from 'vue';
import { sameAs } from 'vuelidate/lib/validators';

export default Vue.extend({
  data() {
    return {
      confirmValue: '',
      message: '',
      resolve: ((value) => {}) as (value: boolean) => void,
      value: '',
    };
  },

  validations: {
    confirmValue: {
      sameAsValue: sameAs('value'),
    },
  },

  methods: {
    reset() {
      this.value = '';
      this.confirmValue = '';
      this.message = '';
      this.resolve = (value) => {};
    },

    prompt(message: string, confirmValue: string) {
      this.message = message;
      this.confirmValue = confirmValue;
      (<any>this.$refs.modal).show();
      return new Promise((resolve, reject) => {
        this.resolve = resolve;
      });
    },

    confirm() {
      (<any>this.$refs.modal).hide();
      this.resolve(true);
      this.reset();
    },

    reject() {
      (<any>this.$refs.modal).hide();
      this.resolve(false);
      this.reset();
    },
  },
});
</script>

<style scoped></style>
