<template>
  <div class="d-flex align-items-baseline">
    <span>{{ displayPrefix }}{{ displayCoordinates }}</span>
    <button-copy v-if="displayCopyButton" :value="displayCoordinates" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { base as astronomia, sexagesimal } from 'astronomia';
import ButtonCopy from '@/components/ButtonCopy.vue';

export default Vue.extend({
  components: {
    ButtonCopy,
  },

  props: {
    dec: {
      required: true,
      type: Number,
    },
    ra: {
      required: true,
      type: Number,
    },
    fractionDigits: {
      required: false,
      default: 4,
      type: Number,
    },
    displayPrefix: {
      required: false,
      default: 'ICRS: ',
      type: String,
    },
    displayCopyButton: {
      required: false,
      default: true,
      type: Boolean,
    },
  },

  computed: {
    displayCoordinates(): string {
      return `${this.degreesToHMS(this.ra)} ${this.degreesToDMS(this.dec)}`;
    },
  },

  methods: {
    degreesToDMS(degrees: number): string {
      const [neg, d, m, s] = new sexagesimal.Angle(astronomia.toRad(degrees)).toDMS();
      return `${neg ? '-' : ''}${d}d${m}m${s.toFixed(this.fractionDigits)}s`;
    },

    degreesToHMS(degrees: number): string {
      const [neg, h, m, s] = new sexagesimal.HourAngle(astronomia.toRad(degrees)).toDMS();
      return `${neg ? '-' : ''}${h}h${m}m${s.toFixed(this.fractionDigits)}s`;
    },
  },
});
</script>

<style lang="scss" scoped>
.b-dropdown button {
  padding: 0;
}
</style>
