<template>
  <div class="d-flex align-items-baseline">
    <span> Gal: {{ displayCoordinates }}</span>
    <button-copy :value="displayCoordinates" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import ButtonCopy from '@/components/ButtonCopy.vue';

export default Vue.extend({
  components: {
    ButtonCopy,
  },

  props: ['l', 'b'],

  computed: {
    displayCoordinates(): string {
      return `${this.l.toFixed(4)}d ${this.b.toFixed(4)}d`;
    },
  },
});
</script>
