<template>
  <div>
    <b-form @submit.prevent="submitFilterVersion">
      <b-form-file ref="fileBrowse" hidden plain @input="uploadFilterVersion"></b-form-file>
      <base-editor
        v-model="localFilterVersion.code"
        :filename="filter.name + '.py'"
        :read-only="!editing"
      >
        <template #body-pre-code>
          <b-progress
            v-if="loading"
            :max="100"
            :value="100"
            animated
            class="rounded-0"
            height="2em"
            striped
            variant="warning"
          />
          <b-alert v-model="showWarningMessage" dismissible variant="warning">{{
            warningMessage
          }}</b-alert>
          <b-alert v-model="showErrorMessage" dismissible variant="danger">{{
            errorMessage
          }}</b-alert>
        </template>
        <template #button-toolbar>
          <b-input-group v-if="!editing && filterVersions.length" class="mx-1">
            <b-form-select v-model="selectedVersionId" :options="availableVersions" />
          </b-input-group>
        </template>
        <template #footer>
          <div v-if="editing" class="mb-2">
            <b-form-textarea
              v-model="localFilterVersion.comment"
              :state="
                $v.localFilterVersion.comment.$dirty
                  ? !$v.localFilterVersion.comment.$invalid
                  : null
              "
              placeholder="Enter a comment for this new filter version (up to 255 characters)."
              required
              size="sm"
              @blur="$v.localFilterVersion.$touch()"
            ></b-form-textarea>
            <b-form-invalid-feedback v-if="!$v.localFilterVersion.comment.maxLength"
              >Field may not have more than 255 characters.</b-form-invalid-feedback
            >
            <b-form-invalid-feedback v-if="!$v.localFilterVersion.comment.required"
              >Field is required.</b-form-invalid-feedback
            >
          </div>
          <div class="float-right">
            <b-button
              :disabled="uploading"
              class="mx-2"
              variant="warning"
              @click="$refs.fileBrowse.$el.click()"
            >
              <font-awesome-icon v-if="uploading" icon="spinner" disable pulse />
              <font-awesome-icon v-else icon="upload" />
              Upload
            </b-button>
            <b-button
              v-if="!editing"
              :disabled="uploading"
              variant="success"
              @click="editFilterVersion"
            >
              <font-awesome-icon icon="pencil-alt" />
              Edit this version and submit
            </b-button>
            <b-button
              v-if="editing"
              :disabled="loading"
              class="mr-2"
              variant="danger"
              @click="cancelEditFilterVersion"
            >
              <font-awesome-icon icon="times" />
              Cancel
            </b-button>
            <b-button
              v-if="editing"
              :disabled="submitting || $v.localFilterVersion.$invalid"
              type="submit"
              variant="success"
            >
              <font-awesome-icon v-if="submitting" icon="spinner" pulse />
              <font-awesome-icon v-else icon="check" />
              Submit
            </b-button>
          </div>
        </template>
      </base-editor>
    </b-form>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { maxLength, required } from 'vuelidate/lib/validators';

import { Filter, FilterVersion } from '@/common/types.ts';
import { FilterService } from '@/api';
import BaseEditor from '@/components/BaseEditor.vue';

type FilterVersionEditableFields = Pick<FilterVersion, 'code' | 'comment'>;

interface FilterVersionSelectOption {
  label: string;
  options: {
    value: string;
    text: string;
  }[];
  value: string;
  text: string;
}

function truncate(string: string, length: number): string {
  return string.length > length ? `${string.substr(0, length - 1)}...` : string;
}

const TEMPLATE_FIRST_FILTER_VERSION: FilterVersionEditableFields = {
  code: '"""\nPlease paste or upload your filter code here.\n"""',
  comment: '',
};

export default Vue.extend({
  components: {
    BaseEditor,
  },

  props: {
    filter: {
      required: true,
    } as PropOptions<Filter>,
  },

  data() {
    return {
      editing: false,
      errorMessage: '',
      filterVersions: [] as FilterVersion[],
      loading: true,
      localFilterVersion: {
        code: '',
        comment: '',
      } as FilterVersionEditableFields,
      selectedVersionId: null as string | null,
      showErrorMessage: false,
      showWarningMessage: false,
      submitting: false,
      uploading: false,
      warningMessage: '',
    };
  },

  validations: {
    localFilterVersion: {
      code: {
        required,
      },
      comment: {
        required,
        maxLength: maxLength(255),
      },
    },
  },

  computed: {
    availableVersions(): Partial<FilterVersionSelectOption>[] {
      const availableVersions: Partial<FilterVersionSelectOption>[] = [];
      if (this.filter.enabled_version) {
        availableVersions.push({
          value: this.filter.enabled_version.id,
          text: 'Enabled Version',
        });
      }
      if (this.filter.latest_version) {
        availableVersions.push({
          value: this.filter.latest_version.id,
          text: 'Latest Version',
        });
      }
      availableVersions.push({
        label: 'Filters by Date',
        options: this.filterVersions.map((version: FilterVersion) => ({
          value: version.id,
          text: `${version.created_at.substring(0, 10)} ${
            version.comment ? truncate(version.comment, 30) : ''
          }`,
        })),
      });
      return availableVersions;
    },

    selectedVersion(): FilterVersion | null {
      const index = this.filterVersions.findIndex(
        (filterVersion: FilterVersion) => filterVersion.id === this.selectedVersionId,
      );
      if (index !== -1) {
        return this.filterVersions[index];
      }
      return null;
    },
  },

  watch: {
    selectedVersionId(newId) {
      if (this.selectedVersion) {
        this.localFilterVersion = { ...this.selectedVersion };
      } else {
        this.localFilterVersion = {
          code: '# There was an error loading this filter.',
          comment: '',
        };
      }
    },
  },

  mounted() {
    this.fetchFilterVersions().then(() => {
      if (this.filter.enabled_version) {
        this.selectedVersionId = this.filter.enabled_version.id;
      } else if (this.filter.latest_version) {
        this.selectedVersionId = this.filter.latest_version.id;
      }
    });
  },

  methods: {
    async uploadFilterVersion(file: File) {
      this.uploading = true;
      const reader = new FileReader();
      reader.readAsText(file);
      reader.onloadend = () => {
        if (reader.result) {
          this.localFilterVersion = {
            code: <string>reader.result,
            comment: '',
          };
          this.editing = true;
        }
        this.uploading = false;
      };
    },

    async editFilterVersion() {
      this.localFilterVersion = {
        code: this.selectedVersion ? this.selectedVersion.code : TEMPLATE_FIRST_FILTER_VERSION.code,
        comment: '',
      };
      this.editing = true;
    },

    async cancelEditFilterVersion() {
      this.localFilterVersion = {
        code: this.selectedVersion ? this.selectedVersion.code : TEMPLATE_FIRST_FILTER_VERSION.code,
        comment: '',
      };
      this.editing = false;
    },

    async submitFilterVersion() {
      this.submitting = true;
      try {
        var { data: filterVersion } = await FilterService.addVersion(
          this.filter.id,
          this.localFilterVersion,
        );
      } catch (errors) {
        this.errorMessage = `Error submitting new version: ${errors[0].detail}`;
        this.showErrorMessage = true;
        return;
      } finally {
        this.submitting = false;
      }
      try {
        await this.fetchFilterVersions();
        const { data: filter } = await FilterService.get(this.filter.id, {
          include: 'latest_version,enabled_version',
        });
        this.$emit('update:filter', filter);
        this.selectedVersionId = filterVersion.id;
      } catch (err) {
        this.warningMessage =
          'Your filter was successfully updated but there was a problem refreshing the page.';
        this.showWarningMessage = true;
      } finally {
        this.editing = false;
      }
    },

    async fetchFilterVersions() {
      this.loading = true;
      try {
        const { data } = await FilterService.getVersions(this.filter.id, {});
        this.filterVersions = data;
        if (this.filterVersions.length === 0) {
          this.localFilterVersion = { ...TEMPLATE_FIRST_FILTER_VERSION };
          this.editing = true;
        }
      } catch (err) {
        this.errorMessage = 'There was an error fetching data. Please try again later.';
        this.showErrorMessage = true;
      } finally {
        this.loading = false;
      }
    },
  },
});
</script>

<style>
.CodeMirror {
  height: 40em;
}
.alert {
  margin-bottom: 0;
  border-radius: 0;
}
</style>
