<template>
  <div>
    <h1>
      <font-awesome-icon v-if="visible" icon="chevron-down" @click="visible = false" />
      <font-awesome-icon v-else icon="chevron-right" @click="visible = true" />
      {{ header }}
    </h1>
    <hr/>
    <b-collapse v-model="visible">
      <slot />
    </b-collapse>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    header: {
      required: false,
      type: String,
    },
  },

  data() {
    return {
      visible: true,
    };
  },
});
</script>
