<template>
  <div id="d3-ra-dec-chart"></div>
</template>
<script>
import Vue from 'vue';
import * as d3 from 'd3';
import { LocusService } from '@/api';
import * as charts from '@/vis/chart';

export default Vue.extend({
  props: {
    alerts: Array,
    locus: Object,
  },
  data() {
    return {
      chart: {
        width: 250,
        height: 250,
        margin: 25,
      },
      dataGroup: null,
      nearbyLoci: [],
    };
  },
  mounted() {
    let svg = d3
        .select('#d3-ra-dec-chart')
        .append('svg')
        .attr('width', this.chart.width)
        .attr('height', this.chart.height);
    this.svg = svg;
    let scales = this.scales();
    let { ra, dec } = scales;
    let aG = svg.append('g'); // annotations
    charts.chartGroup('default').predicate('ra-dec', null);

    aG.append('g')
      .selectAll('circle')
      .data([0.5 / 3600, 1 / 3600, 1.5 / 3600])
      .enter()
      .append('circle')
      .attr('cx', ra(this.locus.ra))
      .attr('cy', dec(this.locus.dec))
      .attr('r', (d) => ra(this.locus.ra + d) - ra(this.locus.ra))
      .attr('stroke', d3.lab(90, 0, 0))
      .attr('fill', 'none');

    aG.append('g')
      .selectAll('line')
      .data(['ra', 'dec'])
      .enter()
      .append('line')
      .attr('stroke', d3.lab(90, 0, 0))
      .attr('x1', (d) => ra(this.locus.ra - (d === 'ra' ? 1.5 / 3600 : 0)))
      .attr('x2', (d) => ra(this.locus.ra + (d === 'ra' ? 1.5 / 3600 : 0)))
      .attr('y1', (d) => dec(this.locus.dec - (d === 'dec' ? 1.5 / 3600 : 0)))
      .attr('y2', (d) => dec(this.locus.dec + (d === 'dec' ? 1.5 / 3600 : 0)));

    aG.append('g')
      .selectAll('text')
      .data([
        {
          label: 'DEC+',
          textAnchor: 'middle',
          ra: this.locus.ra,
          dec: this.locus.dec + 1.55 / 3600,
        },
        {
          label: 'RA',
          dominantBaseline: 'middle',
          ra: this.locus.ra + 1.55 / 3600,
          dec: this.locus.dec,
        },
        {
          label: '0.5"',
          textAnchor: 'end',
          ra: this.locus.ra,
          dec: this.locus.dec + 0.575 / 3600,
        },
        {
          label: '1"',
          textAnchor: 'end',
          ra: this.locus.ra,
          dec: this.locus.dec + 1.075 / 3600,
        },
      ])
      .enter()
      .append('text')
      .style('font-family', 'Raleway, sans-serif')
      .style('fill', d3.rgb('#2c3e50').brighter()) // TODO grab this from CSS
      .attr('x', (d) => ra(d.ra))
      .attr('y', (d) => dec(d.dec))
      .style('dominant-baseline', (d) => d.dominantBaseline)
      .style('text-anchor', (d) => d.textAnchor)
      .text((d) => d.label);

    this.dataGroup = svg.append('g');

    this.fetchNearbyLoci();
  },
  methods: {
    scales() {
      let raCenter = this.locus.ra;
      let decCenter = this.locus.dec;

      return {
        ra: d3
          .scaleLinear()
          .domain([raCenter - 1.5 / 3600, raCenter + 1.5 / 3600])
          .range([this.chart.margin, this.chart.width - this.chart.margin]),
        dec: d3
          .scaleLinear()
          .domain([decCenter - 1.5 / 3600, decCenter + 1.5 / 3600])
          .range([this.chart.height - this.chart.margin, this.chart.margin]),
        passband: charts.passbandScale(),
      };
    },
    async fetchNearbyLoci() {
      let { data: nearbyLoci } = await LocusService.coneSearch(
        `${this.locus.ra} ${this.locus.dec}`,
        1.5 / 3600.0,
        {
          page: {
            limit: 100,
          },
          fields: {
            locus_listing: 'ra,dec',
          },
        },
      );
      nearbyLoci = nearbyLoci.filter((locus) => locus.id != this.locus.id);
      this.nearbyLoci = nearbyLoci;
    },
    plot() {
      let { ra, dec, passband } = this.scales();
      let dataGroup = this.dataGroup;

      function translateRaDec(d) {
        return `translate(${ra(d.payload.ant_ra)},${dec(d.payload.ant_dec)})`;
      }

      let pts = this.locus.lightcurve.filter(
        d => (d.frontend_mag_type === 'calibrated' ||
              d.frontend_mag_type === 'raw')).
          map(d => ({
            type: "mag",
            payload: d,
            getMag: function() {
              return this.payload.frontend_mag;
            }
          }));

      let enter = dataGroup
          .selectAll('g')
          .data(pts, (d) => d.alert_id)
          .enter()
          .append('g')
          .attr('transform', translateRaDec)
          .append('circle')
          .attr('r', 2)
          .attr('fill', (d) => passband(d.payload.ant_passband));

      charts.chartGroup('default').on('ra-dec', 'update', function () {
        let predicate = charts.getSelectionPredicate('default', 'ra-dec');

        dataGroup
          .selectAll('g')
          .style('opacity', (d) => predicate(d) ? null : 0.1);
        // 2020-12-09, cscheid:
        // in previous versions of the code, we would raise() all opaque elements to the front, and
        // set the other opacities to 0.1.
        // after profiling our code, I learned that raise() is responsible for a good chunk
        // of our running time during brushing; it makes the visualization look a little better,
        // but it's not really _quite_ necessary and the jank is more problematic. Let's
        // skip it for now.
      });

      let alerts = this.alerts;
      function brushed(event) {
        let value = null;
        if (event.selection) {
          let [[x0, y0], [x1, y1]] = event.selection;
          let [xMin, xMax] = d3.extent([x0, x1]);
          let [yMin, yMax] = d3.extent([y0, y1]);
          charts.chartGroup('default').predicate('ra-dec', (d) => {
            let raValue, decValue;

            raValue = d.payload.ant_ra;
            decValue = d.payload.ant_dec;

            // we filter out things without RA or DEC (like mags)
            if (!raValue || !decValue) {
              return false;
            }

            let vRa = ra(raValue);
            if (vRa < xMin || vRa > xMax)
              return false;
            let vDec = dec(decValue);
            return (yMin <= vDec && vDec <= yMax);
          });
        } else {
          charts.chartGroup('default').predicate('ra-dec', null);
        }
      }

      this.brushGroup = this.svg.append('g');
      this.brushGroup.attr('class', 'brush').call(d3.brush().on('start brush end', brushed));
    },
  },
  watch: {
    alerts() {
      this.plot();
    },
    nearbyLoci() {},
  },
});
</script>
