<template>
  <div>
    <b-input-group>
      <b-form-input
        v-model="value"
        placeholder="Enter an ANTARES Locus ID..."
        :state="$v.value.$dirty && value.length > 0 ? ($v.value.$invalid ? false : true) : null"
        @blur="$v.value.$touch()"
      />
      <b-input-group-append>
        <b-button :disabled="loading || $v.$invalid" variant="success" @click="findLocus">
          <font-awesome-icon icon="search" size="sm" />
          <slot>
            Find Locus
          </slot>
        </b-button>
      </b-input-group-append>
      <b-form-invalid-feedback v-if="!$v.value.required">
        Value is required.
      </b-form-invalid-feedback>
    </b-input-group>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { required } from 'vuelidate/lib/validators';

export default Vue.extend({
  data() {
    return {
      loading: false,
      value: '',
    };
  },

  validations: {
    value: {
      required,
    },
  },

  methods: {
    findLocus() {
      this.$router.push({
        name: 'locusDetail',
        params: { locusId: this.value },
      });
    },
  },
});
</script>
