<!--

Zoom redesign: we need separate selection from zooming

Needed buttons:

"Home" for zoom to full
"Zoom" for zoom to selection
"Zoom in/out" for zoom in/out

selection button: "square"
clear selection: "window-close"?

  -->

<template>
  <div class="d-flex align-items-baseline">
    <div id="d3-light-curve-chart"></div>
    <div style="display: block">
      <div>
        <b-button size="sm" variant="outline" v-on:click="zoomIn" >
          <font-awesome-icon :style="{ color: 'gray' }" icon="search-plus"/>
        </b-button>
      </div>
      <div>
        <b-button size="sm" variant="outline" v-on:click="zoomOut" >
          <font-awesome-icon :style="{ color: 'gray' }" icon="search-minus"/>
        </b-button>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from 'vue';
import * as d3 from 'd3';
import { LocusService } from '@/api';
import * as charts from '@/vis/chart';
import * as d3Utils from '@/vis/d3-utils';

export default Vue.extend({
  props: {
    locus: Object,
    alerts: Array,
  },
  data() {
    return {
      chart: {
        width: 750,
        height: 500,
        marginTop: 10,
        marginBottom: 50,
        marginLeft: 50,
        marginRight: 10,
      },
      dataGroup: null,
      nearbyLoci: [],
    };
  },
  mounted() {
    this.viewState = {
      timeAxis: "mjd", // "mjd" || "cal"
      observationColor: "passband" // "passband" || "rcid"
    };

    this.d3Objects = {};

    this.createCharts();
  },
  methods: {
    validLightCurvePoints() {
      return this.locus.lightcurve.filter((d) => {
        if (d.frontend_magulim !== undefined && d.frontend_magulim < 0)
          return false;
        if (d.frontend_mag !== undefined && d.frontend_mag < 0)
          return false;
        if (d.frontend_magllim !== undefined && d.frontend_magllim < 0)
          return false;
        return true;
      });
    },
    setStartingScaleDomains() {
      let lightcurve = this.validLightCurvePoints();
      let { mag, mjd, cal } = this.scales();
      mjd.domain(d3.extent(lightcurve, (d) => d.ant_mjd));

      let alertMagExtent = d3Utils.wideExtent(lightcurve, function(d) {
        let lst = [];
        if (d.frontend_mag) {
          lst.push(d.frontend_mag);
        }
        if (d.frontend_mag && d.frontend_magerr) {
          lst.push(d.frontend_mag + d.frontend_magerr);
          lst.push(d.frontend_mag - d.frontend_magerr);
        }
        if (d.frontend_magulim && d.frontend_magulim > 0) {
          lst.push(d.frontend_magulim);
        }
        if (d.frontend_magllim && d.frontend_magllim > 0) {
          lst.push(d.frontend_magllim);
        }
        return d3.extent(lst);
      });
      mag.domain(alertMagExtent);
      cal.domain(mjd.domain().map(charts.mjdToCal));

      // Extend scales a small amount to get some breathing room in the plot
      d3Utils.extendScaleDomain(mag, 1.1);
      d3Utils.extendScaleDomain(mjd, 1.1);
      d3Utils.extendScaleDomain(cal, 1.1);
    },
    timeAxisLegendText() {
      let df = d3.timeFormat("%Y-%m-%d");
      let name = this.viewState.timeAxis === 'cal' ? 'Calendar' : 'MJD';
      let { cal } = this.scales();
      let result = `Time (${name}) Range: (${df(cal.domain()[0])} — ${df(cal.domain()[1])})`;
      return result;
    },
    scales() {
      if (!this._mjdScale) {
        this._mjdScale = d3
          .scaleLinear()
          .range([this.chart.marginLeft, this.chart.width - this.chart.marginRight]);
        this._calScale = d3.scaleTime()
          .range(this._mjdScale.range());
        this._magScale = d3
          .scaleLinear()
        // mag is backwards, so this range() call looks goofy but is correct.
          .range([this.chart.marginTop + 30, this.chart.height - this.chart.marginBottom]);
        this._passbandScale = d3
          .scaleOrdinal()
          .domain(['g', 'R'])
          .range([d3.lab(50, -60, -10), d3.lab(40, 60, 30)]);
        // FIXME: this should be an application-global setting.
        // right now, we create two separate scales, one on AlertTypeLegend and another
        // one here. That's bug-prone.
        this._rcidScale = d3
          .scaleOrdinal()
          .range(d3.schemeCategory10);
      }
      return {
        cal: this._calScale,
        mjd: this._mjdScale,
        mag: this._magScale,
        passband: this._passbandScale,
        rcid: this._rcidScale,
        mark: charts.alertTypeMarkScale()
      };
    },
    scaleLimits() {
      return {
        mjd: 1/24, // 1 hour minimum resolution
        mag: 0.01, // one hundredth magnitude minimum resolution
      };
    },
    async fetchNearbyLoci() {
      // TODO I believe we're redoing a search that already existed elsewhere;
      // should we consider caching these in LocusService?
      let { data: nearbyLoci } = await LocusService.coneSearch(
        `${this.locus.ra} ${this.locus.dec}`,
        1.5 / 3600.0,
        {
          page: {
            limit: 100,
          },
          fields: {
            locus_listing: 'ra,dec',
          },
        },
      );
      nearbyLoci = nearbyLoci.filter((locus) => locus.id != this.locus.id);
      this.nearbyLoci = nearbyLoci;
    },
    getSelectionDomain(getter, predicate, minRes) {
      let selectedAlerts = this.d3Objects.markGroups
          .filter((d) => {
            return predicate(d);
          })
          .nodes()
          .map(n => n.__data__);
      let result = d3Utils.wideExtent(
        selectedAlerts.filter(n => getter(n) !== undefined),
        (d) => getter(d));
      if (result[0] === result[1]) {
        return [result[0] - minRes/2, result[1] + minRes/2];
      }
      return result;
    },
    zoom(whichWay) {
      let { mjd, mag, mark, passband, cal } = this.scales();
      function yCoord(d) {
        if (d.frontend_mag_type === 'ERROR_OTHER') {
          return 15; // FIXME this is the baseline height of the error view, we shouldn't hard-code it
        } else {
          return mag(d.getMag());
        }
      }
      // getSelectionDomain depends on the domains of mjd and mag through predicate(),
      // and so we can't mutate mjd and mag until we've computed everything we need.
      // This is why we first store all values in local variables before assigning all
      // of them.
      let predicate = whichWay === "in" ?
          charts.getSelectionPredicate('default', null) :
          n => true;
      let mjdDomain = this.getSelectionDomain(n => [n.payload.ant_mjd, n.payload.ant_mjd], predicate, this.scaleLimits().mjd);
      let magDomain = this.getSelectionDomain(n => n.getWideMag(), predicate, this.scaleLimits().mag);

      let brushMin1, brushMax1, brushMin2, brushMax2;
      let sel = d3.brushSelection(this.d3Objects.brushGroup.node());
      if (sel) {
        brushMin1 = mjd.invert(sel[0][0]);
        brushMax1 = mjd.invert(sel[1][0]);
        brushMin2 = mag.invert(sel[0][1]);
        brushMax2 = mag.invert(sel[1][1]);
      }
      mjd.domain(mjdDomain);
      cal.domain(mjd.domain().map(charts.mjdToCal));
      mag.domain(magDomain);
      d3Utils.extendScaleDomain(mjd, 1.1);
      d3Utils.extendScaleDomain(cal, 1.1);
      d3Utils.extendScaleDomain(mag, 1.1);
      let that = this;
      this.d3Objects.markGroups
        .transition()
        .duration(1000)
        .attr('transform', (d) => `translate(${mjd(d.payload.ant_mjd)},${yCoord(d)})`)
        .end().then(() => {
          if (sel) {
            that.d3Objects.brush.move(
              that.d3Objects.brushGroup,
              [[mjd(brushMin1), mag(brushMin2)],
               [mjd(brushMax1), mag(brushMax2)]]);
          }
        });
      this.d3Objects.markGroups
        .selectAll("line")
        .transition()
        .duration(1000)
        .attr('y1', (d) => mag(d.payload.frontend_magerr) - mag(0))
        .attr('y2', (d) => mag(0) - mag(d.payload.frontend_magerr));
      this.d3Objects.mjdAxisG.transition().duration(1000).call(this.d3Objects.mjdAxis);
      // NOTE: in principle, we should be calling end(() => ...)  instead of on("end"). But end()
      // appears to be rejecting the promise for some reason I don't understand, and on("end")
      // works. shrug emoji here
      this.d3Objects.calAxisG.transition().duration(1000).call(this.d3Objects.calAxis).on("end", () => {
        this.d3Objects.timeAxisLegend.text(this.timeAxisLegendText());
      });
      this.d3Objects.magAxisG.transition().duration(1000).call(this.d3Objects.magAxis);
    },
    zoomIn() {
      this.zoom("in");
    },
    zoomOut() {
      this.zoom("out");
    },
    createCharts() {
      let svg = d3
          .select('#d3-light-curve-chart')
          .append('svg')
          .attr('width', this.chart.width)
          .attr('height', this.chart.height);
      let defs = svg
          .append('defs');
      charts.chartGroup('default').predicate('light-curve', null);

      let scales = this.scales();
      let { cal, mjd, mag, mark, passband, rcids } = scales;
      defs.append('clipPath')
        .attr("id", "light-curve-chart-clip")
        .append("rect")
        .attr("y", Math.min(scales.mag.range()[0], scales.mag.range()[1]))
        .attr("height", Math.abs(scales.mag.range()[0] - scales.mag.range()[1]))
        .attr("x", Math.min(scales.mjd.range()[0], scales.mjd.range()[1]))
        .attr("width", Math.abs(scales.mjd.range()[0] - scales.mjd.range()[1]));
      this.setStartingScaleDomains();

      this.d3Objects.brushGroup = svg.append('g');
      let aG = svg.append('g');
      aG.append('g')
        .attr('transform', `translate(${mjd(mjd.domain()[0])}, 15)`)
        .attr("class", "tick")
        .append('text')
        .attr("fill", "currentcolor")
        .attr('text-anchor', 'end')
        .attr('dominant-baseline', 'middle')
        .text("errors:");

      let magAxis = d3.axisLeft(mag);
      magAxis.ticks(5);

      let magAxisG = aG.append('g')
          .attr('transform', `translate(${mjd(mjd.domain()[0])}, 0)`)
          .call(magAxis);
      this.d3Objects.magAxis = magAxis;
      this.d3Objects.magAxisG = magAxisG;

      let mjdAxis = d3.axisBottom(mjd);
      mjdAxis.ticks(10);
      let mjdAxisG = aG.append('g')
          .attr('transform', `translate(0, ${mag(mag.domain()[1])})`)
          .call(mjdAxis);
      this.d3Objects.mjdAxis = mjdAxis;
      this.d3Objects.mjdAxisG = mjdAxisG;

      let calAxis = d3.axisBottom(cal);
      this.d3Objects.calAxis = calAxis;

      calAxis.ticks(10);
      let calAxisG = aG.append('g')
          .attr('transform', `translate(0, ${mag(mag.domain()[1])})`)
          .attr("visibility", "hidden")
          .call(calAxis);
      this.d3Objects.calAxisG = calAxisG;

      let timeAxisLegend = aG.append('g')
          .append('text')
          .text(this.timeAxisLegendText())
          .attr('text-anchor', 'middle')
          .attr('dominant-baseline', 'hanging')
          .attr('x', mjd((mjd.domain()[0] + mjd.domain()[1]) / 2))
          .attr('y', mag(mag.domain()[1]) + 30)
          .attr("cursor", "pointer");
      this.d3Objects.timeAxisLegend = timeAxisLegend;
      timeAxisLegend.on("click", () => {
        if (this.viewState.timeAxis === 'cal') {
          calAxisG.attr("visibility", "hidden");
          mjdAxisG.attr("visibility", null);
          this.viewState.timeAxis = 'mjd';
        } else {
          calAxisG.attr("visibility", null);
          mjdAxisG.attr("visibility", "hidden");
          this.viewState.timeAxis = 'cal';
        }
        timeAxisLegend.text(this.timeAxisLegendText());
      });

      aG.append('g')
        .append('text')
        .text('Magnitude')
        .attr(
          'transform',
          `rotate(-90, ${mjd(mjd.domain()[0])}, ${mag((mag.domain()[0] + mag.domain()[1]) / 2)})`,
        )
        .attr('text-anchor', 'middle')
        .attr('x', mjd(mjd.domain()[0]))
        .attr('y', mag((mag.domain()[0] + mag.domain()[1]) / 2) - 30);

      this.d3Objects.dataGroup = svg.append('g')
        .attr("clip-path", "url(#light-curve-chart-clip)");
    },
    setMarkColor(sel) {
      let scales = this.scales();
      let { cal, mjd, mag, mark, passband, rcid } = scales;
      let map = {
        "passband": (d) => passband(d.payload.ant_passband),
        "rcid": (d) => {
          if (this.alertMap && this.alertMap.has(d.payload.alert_id)) {
            return rcid(this.alertMap.get(d.payload.alert_id).properties.ztf_rcid);
          }
          else
            return "rgba(192,192,192,1)";
        }
      };
      let f = map[this.viewState.observationColor];
      sel.attr('stroke', f)
        .attr('fill', f);
    },
    refreshCharts() {
      let scales = this.scales();
      let { cal, mjd, mag, mark, passband, rcid } = scales;
      this.d3Objects.dataGroup.selectAll("g")
        .call(this.setMarkColor);
    },
    colorByRcid() {
      if (d3.select("#alert-legend-rcid-text").nodes().length) {
        d3.select("#alert-legend-passband-text")
          .style("font-weight", null);
        d3.select("#alert-legend-rcid-text")
          .style("font-weight", 700);
      }
      this.viewState.observationColor = "rcid";
      this.refreshCharts();
    },
    colorByPassband() {
      if (d3.select("#alert-legend-rcid-text").nodes().length) {
        d3.select("#alert-legend-passband-text")
          .style("font-weight", 700);
        d3.select("#alert-legend-rcid-text")
         .style("font-weight", null);
      }
      this.viewState.observationColor = "passband";
      this.refreshCharts();
    },
    populateCharts() {
      if (d3.select("#alert-legend-rcid-text").nodes().length) {
        d3.select("#alert-legend-passband-text")
          .on("click", () => this.colorByPassband());
        d3.select("#alert-legend-rcid-text")
          .on("click", () => this.colorByRcid());
        d3.select("#alert-legend-passband-text")
          .style("font-weight", 700);
      }

      let scales = this.scales();
      let { cal, mjd, mag, mark, passband, rcid } = scales;
      let that = this;
      function rcid_set() {
        let result = new Set();
        that.alerts.forEach(d => {
          if (d.properties.ztf_rcid !== undefined) {
            result.add(d.properties.ztf_rcid);
          }
        });
        return result;
      }

      let rcids = Array.from(rcid_set());
      rcids.sort((a, b) => a - b);
      // force calling the scale in the correct order to populate values
      rcids.forEach(v => rcid(v));

      if (rcids.length > 1) {
        d3.select("#choose-color")
          .style("display", null);
      }

      ////////////////////////////////////////////////////////////////////////////////
      // This creates all marks for the light curve plot
      //
      // each alert can generate one of these possibilities
      // if alert is raw, then it will only have mag and magerr
      // if alert is raw_maglim, then it will only have mag_ulim
      // if alert is calibrated, then it will only have mag and magerr
      // if alert is calibrated_maglim, then it will have mag_ulim and mag_llim

      let lightcurve        = this.validLightCurvePoints();
      let mags              = lightcurve.filter(
        d => (d.frontend_mag_type === 'raw' ||
              d.frontend_mag_type === 'calibrated'));
      let rawMaglims        = lightcurve.filter(
        d => d.frontend_mag_type === 'raw_maglim');
      let calibratedMaglims = lightcurve.filter(
        d => d.frontend_mag_type === 'calibrated_maglim');

      function createTransformedGroup(ar, keyFun, yCoordKey) {
        function yCoord(d) {
          if (d.payload.frontend_mag_type === 'ERROR_OTHER') {
            return 15; // FIXME this is the baseline height of the error view, we shouldn't hard-code it
          } else {
            return mag(d.getMag());
          }
        }
        return that.d3Objects.dataGroup
          .selectAll('g')
          .data(ar, keyFun)
          .enter()
          .append('g')
          .attr('transform', (d) => `translate(${mjd(d.payload.ant_mjd)},${yCoord(d)})`);
      }
      function createMagMark(data) {
        let marks = createTransformedGroup(data, d => d.alert_id + d.type, "frontend_mag");
        // we set color on the group so that we can treat mags and lims uniformly wrt color
        marks.call(that.setMarkColor);
        // error bar
        marks.filter(d => d.payload.frontend_magerr)
          .append('line')
          .attr('x1', 0)
          .attr('x2', 0)
          .attr('y1', (d) => mag(d.payload.frontend_magerr) - mag(0))
          .attr('y2', (d) => mag(0) - mag(d.payload.frontend_magerr));
        // alert
        marks
          .append('path')
          .attr('d', mark('raw'));
      }

      /*
        Ok, this is ugly.

        the fundamental problem which exists here is that we need to create more than one
        mark for each datum inside the main group. It's hard to do that directly in d3,
        and so we hack this by "enriching" the data, creating new objects with fields
        'payload' and 'type' below, so they can have all different keys.
      */
      function createMaguLimMark(data) {
        let marks = createTransformedGroup(data, d => d.payload.alert_id + d.type, "frontend_magulim");
        marks.call(that.setMarkColor);
        marks
          .append('path')
          .attr('d', mark("upper_limit"));
      }
      function createMaglLimMark(data) {
        let marks = createTransformedGroup(data, d => d.payload.alert_id + d.type, "frontend_magllim");
        marks.call(that.setMarkColor);
        marks
          .append('path')
          .attr('d', mark("lower_limit"));
      }

      createMagMark(mags.map((d) => ({
        payload: d,
        type: "mag",
        getWideMag() {
          if (d.frontend_mag && d.frontend_magerr) {
            return [d.frontend_mag - d.frontend_magerr,
                    d.frontend_mag + d.frontend_magerr];
          } else { // if (d.frontend_mag) {
            return [d.frontend_mag, d.frontend_mag];
          }
        },
        getMag() {
          return this.payload.frontend_mag;
        }
      })));
      createMaguLimMark(rawMaglims
                        .map((d) => ({
                          payload: d,
                          type: "ulim",
                          getWideMag() {
                            return [d.frontend_magulim, d.frontend_magulim];
                          },
                          getMag() {
                            return this.payload.frontend_magulim;
                          }
                        })));
      createMaguLimMark(calibratedMaglims
                        .map((d) => ({
                          payload: d,
                          type: "ulim",
                          getWideMag() {
                            return [d.frontend_magulim, d.frontend_magulim];
                          },
                          getMag() {
                            return this.payload.frontend_magulim;
                          }
                        })));
      createMaglLimMark(calibratedMaglims
                        .filter(d => !isNaN(d.frontend_magllim))
                        .map((d) => ({
                          payload: d,
                          getWideMag() {
                            return [d.frontend_magllim, d.frontend_magllim];
                          },
                          type: "llim",
                          getMag() {
                            return this.payload.frontend_magllim;
                          }
                        })));

      let markGroups = this.d3Objects.dataGroup.selectAll("g");
      this.d3Objects.markGroups = markGroups;
      charts.chartGroup('default').on('light-curve', 'update', function () {
        let predicate = charts.getSelectionPredicate('default', 'light-curve');
        markGroups
          .filter((d) => predicate(d))
          .style('opacity', null)
        // .raise()
        ;
        markGroups.filter((d) => !predicate(d)).style('opacity', 0.1);
      });

      function brushed(event) {
        if (event.selection) {
          let [[x0, y0], [x1, y1]] = event.selection;
          let [xMin, xMax] = d3.extent([x0, x1]);
          let [yMin, yMax] = d3.extent([y0, y1]);
          charts.chartGroup('default').predicate('light-curve', (d) => {
            let mjdValue, magValue;
            magValue = d.getMag();
            mjdValue = d.payload.ant_mjd;

            // FIXME double-check here
            if (!mjdValue || !magValue) {
              return false;
            }

            return (xMin <= mjd(mjdValue) &&
                    mjd(mjdValue) <= xMax &&
                    yMin <= mag(magValue) &&
                    mag(magValue) <= yMax);
          });
        } else {
          charts.chartGroup('default').predicate('light-curve', null);
        }
      }

      this.d3Objects.brush = d3.brush().on('start brush end', brushed);
      this.d3Objects.brushGroup.attr('class', 'brush').call(this.d3Objects.brush);

      this.fetchNearbyLoci();
    },
    plot() {
      this.populateCharts();
      this.refreshCharts();
    }
  },
  watch: {
    alerts() {
      this.alertMap = new Map();
      this.alerts.forEach(alert => {
        this.alertMap.set(alert.id, alert);
      });
      this.plot();
    }
  }
});
</script>
