<template>
  <div class="d-flex">
    <b-form-select v-model="selected" class="find-by-select" :options="options" />
    <locus-find-by-ztf-object-id v-if="selected === 'ztfObjectId'" class="find-input" />
    <locus-find-by-antares-locus-id v-else-if="selected === 'antaresLocusId'" class="find-input" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import LocusFindByAntaresLocusId from './LocusFindByAntaresId.vue';
import LocusFindByZtfObjectId from './LocusFindByZtfObjectId.vue';

export default Vue.extend({
  components: {
    LocusFindByAntaresLocusId,
    LocusFindByZtfObjectId,
  },

  data() {
    return {
      options: [
        { value: 'ztfObjectId', text: 'ZTF Object ID' },
        { value: 'antaresLocusId', text: 'ANTARES Locus ID' },
      ],
      selected: 'ztfObjectId',
    };
  },
});
</script>

<style scoped>
.find-by-select {
  width: auto;
  margin-right: 0.5em;
}
.find-input {
  flex: 1;
}
</style>
