<template>
  <div>
    <b-input-group>
      <b-form-input v-model="value" placeholder="Enter a ZTF Object Id..." />
      <b-input-group-append>
        <b-button :disabled="loading || value.length === 0" variant="success" @click="findLocus">
          <font-awesome-icon v-if="loading" icon="spinner" pulse size="sm" />
          <font-awesome-icon v-else icon="search" size="sm" />
          <slot>
            Find Locus
          </slot>
        </b-button>
      </b-input-group-append>
    </b-input-group>
    <b-form-invalid-feedback>
      No locus found
    </b-form-invalid-feedback>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import { LocusService } from '@/api';

export default Vue.extend({
  data() {
    return {
      loading: false,
      value: '',
    };
  },

  methods: {
    async findLocus() {
      this.loading = true;
      const locusId = await LocusService.lookupByZtfObjectId(this.value);
      this.loading = false;
      if (locusId) {
        this.$router.push({ name: 'locusDetail', params: { locusId } });
      }
    },
  },
});
</script>
