<template>
  <div>
    <h1>Successfully Reset</h1>
    Your password has been successfully changed.
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({});
</script>
