<template>
  <b-container v-if="filter" class="large-container">
    <h1>{{ filter.name }}</h1>
    {{ filter.description }}
    <filter-editor :filter.sync="filter" class="mt-4" />
  </b-container>
</template>

<script lang="ts">
import Vue from 'vue';
import { FilterService } from '@/api';
import { Filter } from '@/common/types';
import FilterEditor from '@/components/FilterEditor.vue';

export default Vue.extend({
  components: {
    FilterEditor,
  },

  data() {
    return {
      filter: null as Filter | null,
    };
  },

  mounted() {
    this.fetchFilter();
  },

  methods: {
    async fetchFilter() {
      let { data: filter } = await FilterService.get(this.$route.params.filterId, {
        include: 'latest_version,enabled_version',
      });
      this.filter = filter;
    },
  },
});
</script>
