<template>
  <b-container class="full-width-container">
    <confirmation-modal ref="confirmationModal" />
    <!--
      We display a special graphic if the user is not logged in,
      or if they haven't submitted any filters yet.
    -->
    <b-container v-if="!isAuthenticated || status === Status.EMPTY" class="large-container">
      <div class="d-flex justify-content-center no-content">
        <img class="mr-4" src="../assets/filter-list-banner.svg" />
        <div class="d-flex flex-column text-justify ml-4" style="max-width: 400px;">
          <h1>Find Objects of Interest</h1>
          <span
            >ANTARES Filters help you sift through ZTF alerts and find what you're looking
            for.</span
          >
          <b-button :to="{ name: 'filterCreate' }" class="mt-4" variant="primary">
            <span v-if="isAuthenticated">Create your first Filter</span>
            <span v-else>Login to create your first Filter</span>
          </b-button>
        </div>
      </div>
    </b-container>
    <!--
      Otherwise, we use a larger container to display the table of filters
      or an error message--if there was a problem loading their filters.
    -->
    <b-container v-else class="full-width-container">
      <div v-if="status === Status.LOADING">
        <content-loader-table :num-rows="10" />
      </div>
      <div v-else-if="status === Status.ERROR">
        <b-list-group>
          <b-list-group-item variant="danger">
            <h5>Error Loading Filters</h5>
            <p>There was an error loading your filters.</p>
            <pre>{{ JSON.stringify(error, null, 2) }}</pre>
          </b-list-group-item>
        </b-list-group>
      </div>
      <div v-show="status === Status.SUCCESS">
        <b-alert v-model="showErrorMessage" class="mb-2" dismissible variant="danger">{{
          errorMessage
        }}</b-alert>
        <div class="d-flex justify-content-between">
          <div>
            <b-button :to="{ name: 'filterCreate' }" size="sm" variant="success">
              <font-awesome-icon icon="plus" />
            </b-button>
          </div>
          <div class="d-flex align-items-baseline">
            <b-form inline>
              <b-form-select v-model="perPage" :options="pageOptions" class="mr-2" size="sm" />
            </b-form>
            <b-pagination
              v-model="currentPage"
              :per-page="perPage"
              :total-rows="count"
              align="right"
              size="sm"
            ></b-pagination>
          </div>
        </div>
        <b-table
          ref="filterTable"
          :current-page="currentPage"
          :fields="fields"
          :items="fetchFilters"
          :per-page="perPage"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          bordered
          hover
          small
          tdClass="filter-table-cell"
          @row-clicked="
            (item) =>
              $router.push({
                name: 'filterDetail',
                params: { filterId: item.id },
              })
          "
        >
          <template #cell(name)="data">
            <b-link :to="{ name: 'filterDetail', params: { filterId: data.item.id } }">{{
              data.item.name
            }}</b-link>
          </template>
          <template #cell(public)="data">
            <b-form-checkbox
              v-model="data.item.public"
              :disabled="submitting"
              class="text-center"
              switch
              @change="$event ? makePublic(data.item) : makePrivate(data.item)"
            />
          </template>
          <template #cell(enabled)="data">
            <b-form-checkbox v-model="data.item.enabled" disabled switch />
          </template>
          <template #cell(description)="data">
            <div
              style="
                max-width: 600px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              "
            >
              {{ data.value }}
            </div>
          </template>
          <template #cell(status)="data">
            <div class="text-center">
              <div v-if="data.item.enabled">
                <b-badge pill style="font-size: 1em;" variant="success">Enabled</b-badge>
              </div>
              <div v-else-if="data.item.disabled_at">
                <b-badge pill style="font-size: 1em;" variant="danger">Disabled</b-badge>
              </div>
              <div v-else>
                <b-badge pill style="font-size: 1em;" variant="secondary">Pending Review</b-badge>
              </div>
            </div>
          </template>
        </b-table>
      </div>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters } from 'vuex';
import { BvTableCtxObject } from 'bootstrap-vue';

import { FilterService } from '@/api';
import { Filter } from '@/common/types';
import ConfirmationModal from '@/components/ConfirmationModal.vue';
import ContentLoaderTable from '@/components/ContentLoaderTable.vue';

enum Status {
  EMPTY = 'EMPTY', // Like success but no results returned
  ERROR = 'ERROR',
  LOADING = 'LOADING',
  SUCCESS = 'SUCCESS',
}

export default Vue.extend({
  components: {
    ConfirmationModal,
    ContentLoaderTable,
  },

  data() {
    return {
      Status,
      count: 0,
      currentPage: 1,
      error: {},
      errorMessage: '',
      fields: [
        {
          key: 'name',
          label: 'Name',
          sortable: false,
        },
        {
          key: 'public',
          label: 'Public',
          sortable: true,
        },
        {
          key: 'description',
          label: 'Description',
          sortable: true,
        },
        {
          key: 'created_at',
          label: 'Created At (UTC)',
          sortable: true,
        },
        {
          key: 'updated_at',
          label: 'Updated At (UTC)',
          sortable: true,
        },
        {
          key: 'status',
          label: 'Status',
        },
      ],
      showErrorMessage: false,
      sortBy: 'created_at',
      sortDesc: true,
      status: Status.LOADING,
      submitting: false,
      pageOptions: [5, 10, 25, 50, 100],
      perPage: 5,
    };
  },

  computed: {
    ...mapGetters(['isAuthenticated']),
    pageEnd(): number {
      const pageEnd = this.pageStart + this.perPage - 1;
      return pageEnd > this.rows ? this.rows : pageEnd;
    },
    pageStart(): number {
      return (this.currentPage - 1) * this.perPage + 1;
    },
    rows(): number {
      return this.count;
    },
    variants(): { [key: number]: string } {
      if (this.$route.query.variants) {
        return JSON.parse(<string>this.$route.query.variants);
      }
      return {};
    },
  },

  methods: {
    async fetchFilters(ctx: BvTableCtxObject) {
      this.status = Status.LOADING;
      try {
        const { data: filters, meta } = await FilterService.listUserFilters({
          page: {
            limit: ctx.perPage,
            offset: (ctx.currentPage - 1) * ctx.perPage,
          },
          ...(ctx.sortBy && { sort: (ctx.sortDesc ? '-' : '') + ctx.sortBy }),
        });
        this.count = meta.count;
        if (meta.count === 0) {
          this.status = Status.EMPTY;
        } else {
          this.status = Status.SUCCESS;
        }
        return filters;
      } catch (errors) {
        this.error = errors[0];
        this.status = Status.ERROR;
      }
    },
    async makePrivate(filter: Filter) {
      this.submitting = true;
      await this.$nextTick();
      const confirm = await (<any>this.$refs.confirmationModal).prompt(
        `Are you sure you want to make the filter ${filter.name} private?`,
        filter.name,
      );
      if (!confirm) {
        filter.public = true;
        this.submitting = false;
        return;
      }
      try {
        await FilterService.makePrivate(filter.id);
        await (<any>this.$refs.filterTable).refresh();
      } catch (error) {
        this.errorMessage = JSON.stringify(error, null, 2);
        this.showErrorMessage = true;
        filter.public = true;
      }
      this.submitting = false;
    },
    async makePublic(filter: Filter) {
      this.submitting = true;
      await this.$nextTick();
      const confirm = await (<any>this.$refs.confirmationModal).prompt(
        `Are you sure you want to make the filter ${filter.name} public?`,
        filter.name,
      );
      if (!confirm) {
        filter.public = false;
        this.submitting = false;
        return;
      }
      try {
        await FilterService.makePublic(filter.id);
        await (<any>this.$refs.filterTable).refresh();
      } catch (error) {
        this.errorMessage = JSON.stringify(error, null, 2);
        this.showErrorMessage = true;
        filter.public = false;
      }
      this.submitting = false;
    },
  },
});
</script>

<style scoped>
.no-content {
  margin-top: 100px;
}
filter-table-cell {
  cursor: pointer;
}
</style>
