<template>
  <div class="align-items-stretch d-flex flex-shrink-1 flex-grow-1 overflow-auto">
    <div class="bg-white border-right p-3 pt-4 shadow-sm">
      <locus-search-control
        :disabled="status === Status.LOADING"
        :filters="filters"
        style="width: 400px;"
        @apply-filters="applyFilters"
        @remove-filter="removeFilter"
      />
    </div>
    <div
      class="align-self-start flex-grow-1 flex-start bg-white m-2 p-3 rounded border shadow-sm"
      style="overflow: auto;"
    >
      <div v-if="status === Status.LOADING">
        <content-loader-table
          v-if="status === Status.LOADING"
          :num-rows="perPage"
          :height="perPage * 30"
        />
      </div>
      <div v-if="status === Status.ERROR">
        <b-list-group>
          <b-list-group-item variant="danger">
            <h5>Error Completing Your Search</h5>
            <p class="mb-0">{{ errorMessage }}</p>
          </b-list-group-item>
        </b-list-group>
      </div>
      <div v-if="status === Status.EMPTY">
        <b-list-group>
          <b-list-group-item variant="warning">
            <h5>Nothing Matched Your Search</h5>
            <p class="mb-0">Try clearing some of your filters in the search panel.</p>
          </b-list-group-item>
        </b-list-group>
      </div>
      <div v-if="status === Status.SUCCESS">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <div>
            <base-button-icon
              v-b-modal.api-access-modal
              color="gray"
              icon="terminal"
              size="sm"
              tooltip-text="API Access"
            />
            <b-modal
              id="api-access-modal"
              size="xl"
              title="ANTARES API"
              @shown="$refs.test.refresh()"
            >
              <p class="mb-0">
                You can fetch this result set using the ANTARES Python API. Make sure that you have
                the ANTARES client installed (version v1.0 or higher):
              </p>
              <pre><code>
$ pip install antares-client
$ antares --version
antares, version v1.0.0
</code></pre>
              <p>Download or copy/paste the following script to fetch the loci from this search.</p>
              <base-editor
                ref="test"
                v-model="antaresApiScript"
                :header="true"
                filename="antares_search.py"
                read-only
              />
            </b-modal>
          </div>
          <div class="d-flex align-items-baseline">
            <span class="mr-2">Showing {{ pageStart }}-{{ pageEnd }} of {{ lociCount }}</span>
            <b-form class="" inline>
              <b-form-select
                v-model="perPage"
                :options="pageOptions"
                class="mr-2 flex-shrink-1"
                size="sm"
                @change="applyPagination($event, 1)"
              />
              <b-pagination
                v-model="currentPage"
                :per-page="perPage"
                :total-rows="lociCount"
                class="m-0"
                size="sm"
                @change="applyPagination(perPage, $event)"
              ></b-pagination>
            </b-form>
          </div>
        </div>
        <b-table
          :fields="fields"
          :items="loci"
          :sort-by="sortBy"
          :sort-desc="sortDesc"
          borderless
          hover
          no-local-sorting
          small
          style="white-space: nowrap;"
          responsive
          @row-hovered="hovered = $event.id"
          @row-unhovered="hovered = null"
          @sort-changed="applySort"
        >
          <template #cell()="data">
            <div v-if="isNaN(data.value)">{{ data.value }}</div>
            <div v-else class="text-right">
              {{ data.value }}
            </div>
          </template>
          <template #cell(id)="data">
            <b-link :to="{ name: 'locusDetail', params: { locusId: data.value } }">
              {{ data.value }}
            </b-link>
          </template>
          <template #cell(actions)="data">
            <div class="text-center">
              <div v-if="data.item.id === hovered">
                <locus-actions
                  :locus="data.item"
                  :comment="false"
                  :download="false"
                  :email="false"
                />
              </div>
              <div v-else>
                <font-awesome-icon icon="ellipsis-h" style="color: gray;" />
              </div>
            </div>
          </template>
        </b-table>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Route } from 'vue-router';
import { mapGetters } from 'vuex';
import bodybuilder from 'bodybuilder';
import { BvTableCtxObject } from 'bootstrap-vue';

import { ElasticsearchFilter } from '@/common/types';
import store from '@/store';
import { FETCH_LOCI } from '@/store/actions';
import BaseButtonIcon from '@/components/BaseButtonIcon.vue';
import BaseEditor from '@/components/BaseEditor.vue';
import ContentLoaderTable from '@/components/ContentLoaderTable.vue';
import LocusFind from '@/components/LocusFind.vue';
import LocusSearchControl from '@/components/LocusSearchControl.vue';
import LocusActions from '@/components/LocusActions.vue';

enum Status {
  LOADING = 'LOADING',
  ERROR = 'ERROR',
  SUCCESS = 'SUCCESS',
  EMPTY = 'EMPTY', // Like success but no results returned
}

const DEFAULT_QUERY = {
  currentPage: 1,
  filters: [],
  perPage: 10,
  sortBy: 'properties.newest_alert_observation_time',
  sortDesc: true,
};

export default Vue.extend({
  name: 'locusList',

  components: {
    BaseButtonIcon,
    BaseEditor,
    ContentLoaderTable,
    LocusActions,
    LocusFind,
    LocusSearchControl,
  },

  data() {
    return {
      Status,
      currentPage: 1,
      errorMessage: '',
      fields: [
        {
          key: 'id',
          label: 'ID',
          sortable: false,
        },
        {
          key: 'properties.ztf_object_id',
          label: 'ZTF ID',
          sortable: true,
        },
        {
          formatter: (value: number) => value.toFixed(2),
          key: 'ra',
          label: 'RA',
          sortable: true,
        },
        {
          formatter: (value: number) => value.toFixed(2),
          key: 'dec',
          label: 'Dec',
          sortable: true,
        },
        {
          formatter: (value: number) => value.toFixed(2),
          key: 'properties.newest_alert_magnitude',
          label: 'Latest Mag',
          sortable: true,
        },
        {
          formatter: (value: number) => value.toFixed(2),
          key: 'properties.brightest_alert_magnitude',
          label: 'Brightest Mag',
          sortable: true,
        },
        {
          key: 'properties.num_mag_values',
          label: '# Alerts',
          sortable: true,
        },
        {
          formatter: (value: number) =>
            (<any>this).mjdToDate(value).toISOString().slice(0, 19).replace('T', ' '),
          key: 'properties.newest_alert_observation_time',
          label: 'Latest Alert',
          sortable: true,
        },
        {
          formatter: (value: number) =>
            (<any>this).mjdToDate(value).toISOString().slice(0, 19).replace('T', ' '),
          key: 'properties.oldest_alert_observation_time',
          label: 'First Alert',
          sortable: true,
        },
        {
          key: 'actions',
          label: 'Actions',
        },
      ],
      filters: [] as ElasticsearchFilter[],
      hovered: null,
      pageOptions: [5, 10, 25],
      perPage: 10,
      sortBy: 'properties.newest_alert_observation_time',
      sortDesc: true,
      status: Status.LOADING,
    };
  },

  computed: {
    ...mapGetters(['loci', 'lociCount']),

    antaresApiScript(): string {
      return `"""
A script to fetch the loci in a search query from the ANTARES API.
"""

from antares_client.search import search

QUERY = ${JSON.stringify(this.elasticsearchQuery, null, 4)}


def process_locus(locus):
    """Put your custom processing logic here."""
    print(locus.locus_id)


def main():
    for locus in search(QUERY):
        process_locus(locus)


if __name__ == "__main__":
    main()

`;
    },

    elasticsearchQuery(): any {
      return this.filters
        .reduce(
          (query, filter) => query.filter(filter.type, filter.field, filter.value),
          bodybuilder(),
        )
        .build();
    },

    pageEnd(): number {
      const pageEnd = this.pageStart + this.perPage - 1;
      return pageEnd > this.lociCount ? this.lociCount : pageEnd;
    },

    /*
     * pageOffset is the starting index of the current paged result set, 0-based
     */
    pageOffset(): number {
      return (this.currentPage - 1) * this.perPage;
    },

    /*
     * pageStart is the starting index of the current paged result set, 1-based
     */
    pageStart(): number {
      return this.pageOffset + 1;
    },
  },

  beforeMount() {
    if (this.$route.query.query) {
      try {
        this.setQueryFromRoute();
      } catch {}
    }
  },

  mounted() {
    this.fetchLoci();
  },

  methods: {
    async applyFilters(newFilters: ElasticsearchFilter[]) {
      this.currentPage = 1;
      this.filters = this.filters.concat(newFilters);
      await this.fetchLoci();
    },

    async applyPagination(limit: number, page: number) {
      this.currentPage = page;
      this.perPage = limit;
      await this.fetchLoci();
    },

    async applySort(ctx: BvTableCtxObject) {
      this.currentPage = 1;
      this.sortBy = ctx.sortBy || DEFAULT_QUERY.sortBy;
      this.sortDesc = ctx.sortDesc;
      await this.fetchLoci();
    },

    async fetchLoci() {
      this.$router.replace(
        {
          query: {
            query: JSON.stringify({
              currentPage: this.currentPage,
              filters: this.filters,
              sortBy: this.sortBy,
              sortDesc: this.sortDesc,
              perPage: this.perPage,
            }),
          },
        },
        () => {},
      );
      this.status = Status.LOADING;
      try {
        await store.dispatch(FETCH_LOCI, {
          query: {
            page: {
              limit: this.perPage,
              offset: (this.currentPage - 1) * this.perPage,
            },
            ...(this.sortBy && { sort: (this.sortDesc ? '-' : '') + this.sortBy }),
            ...(this.filters.length && {
              'elasticsearch_query[locus_listing]': JSON.stringify(this.elasticsearchQuery),
            }),
          },
        });
        this.status = Status.SUCCESS;
        if (this.lociCount === 0) {
          this.status = Status.EMPTY;
        }
      } catch (error) {
        this.status = Status.ERROR;
        this.errorMessage = error[0].detail;
      }
    },

    async removeFilter(index: number) {
      this.currentPage = 1;
      this.filters.splice(index, 1);
      await this.fetchLoci();
    },

    setQueryFromRoute() {
      const query = JSON.parse(<string>this.$route.query.query);
      this.filters = query.filters || DEFAULT_QUERY.filters;
      this.sortBy = query.sortBy || DEFAULT_QUERY.sortBy;
      this.sortDesc = query.sortDesc || DEFAULT_QUERY.sortDesc;
      this.perPage = query.perPage || DEFAULT_QUERY.perPage;
      this.currentPage = query.currentPage || DEFAULT_QUERY.currentPage;
    },

    resetQuery() {
      this.filters = DEFAULT_QUERY.filters;
      this.sortBy = DEFAULT_QUERY.sortBy;
      this.sortDesc = DEFAULT_QUERY.sortDesc;
      this.perPage = DEFAULT_QUERY.perPage;
      this.currentPage = DEFAULT_QUERY.currentPage;
    },
  },
});
</script>
