$primary: #0076b6;
$info: #1f1526;
$success: #529458;
$warning: #cf8420;
$danger: #dc4a3f;
$light: #faf9f9;
$dark: #414652;
$body-bg: $light;
$body-color: $dark;
$enable-shadows: true;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

$accent-light: #7c7a90;
$accent-dark: #74738c;

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 'Raleway', sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: $primary;
}

h2 {
  font-size: 1.8em;
}

.text-box {
  max-width: 700px;
}

.container {
  padding-top: 1em;
  max-width: 1280px;
  padding-bottom: 1em;
}

.modal .modal-fullscreen {
  max-width: 95%;
  height: 100vh;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

ul.locus-property-list li span a {
    padding-left: 1em;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
